.cart-block {
  display: flex;
  align-items: center;

  position: relative;

  &:hover {
    cursor: pointer;
  }

  &__icon {
    margin-right: 10px;
    position: relative;
  }

  &__price {
    font-size: 18px;
    font-weight: 700;
  }
}